html, body {
	background:rgb(255, 227, 231);
	color: #fff;
}

h1 { color: red; }

ul, ol {
	border: 1px solid rgb(236, 221, 86);
	padding: 20px 40px;
}

ul li,
ol li {
	font-display: arial
	font-size: 20px;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

.hey {
	color: red;
	font-family: Crillee Extra Bold Italic;
	font-size: 200px;
	margin-bottom: 100px;
	margin-left: 40px;
	margin-top: 200px

}
.heading {
	color: red;
	font-family: Crillee Extra Bold Italic;
	font-size: 150px;
	
}


.cali {
	color: red;
	font-family: Crillee Extra Bold Italic;
	font-size: 80px;
	margin-left: 40px;


}
.interests {
	font-family: Crillee Extra Bold Italic;
	font-size: 50px;
}

#homepage-heading {
	color: red;
	margin-left: 40px;
	
}

.heading2 {
	color: red;
	margin-left: 40px;
	font-family: Crillee Extra Bold Italic;
	font-size: 200px;
	margin-top: -100px;
	margin-bottom: 500px;

}

.heading small {
	font-size: 60px;
}

.heading3 {
	color: red;
	margin-left: 40px;
	font-family: Crillee Extra Bold Italic;
	font-size: 60px;
	margin-top: -70px;
}

.heading4 {
	color: red;
	margin-left: 40px;
	font-family: Crillee Extra Bold Italic;
	font-size: 200px;
	margin-top: 500px;

}

.heading5 {
	color: red;
	font-family: font-family: 'Rajdhani', sans-serif;
	font-size: 70px;
	font-family: 'Rajdhani', sans-serif;
	margin-top: 300px;
}

.artists {
	color:red;
	font-size: 60px;
	margin-left: 410px;
	margin-top: 350px;
	font-family: 'Libre Barcode 128 Text', cursive
}
.color {
	color: red;
	font-family: Bodoni Bauer BQ; 	
	font-size: 200px;
	margin-left: 100px;
	margin-top: 500px;
}

.red {
	color: red;
	font-family: Bodoni Bauer BQ; 	
	font-size: 200px;
	margin-left: 750px;
	margin-bottom: 300px;
	margin-top: 300px;
		animation: blinker 1s linear infinite;
	  }
	  
	  @keyframes blinker {
		50% {
		  opacity: 0;
		}
	  }

.i {
	color: red;
	margin-left: 30px;
	font-family: 'Asap', sans-serif;
	font-size: 60px;
	margin-bottom: 400px;
}

.j {
	color: red;
	margin-left: 30px;
	font-family: 'Asap', sans-serif;
	font-size: 60px;
	margin-bottom: 400px;
}

.il {
	color: red;
	font-size: 30px;
	margin-left: 30px;
	font-family: 'Asap', sans-serif;
}

.photo {
	color: red;
	margin-left: 30px;
	font-family: 'Asap', sans-serif;
	font-size: 60px;
	margin-bottom: 400px;
}



















